<div ng-controller="browseDecksCtrl">
    <div>
        <div ng-repeat="deck in allDecks">
            <div class="listOfDecks" ng-mouseover="deckHover=true" ng-mouseleave="deckHover=false" ng-click="selectDeck(deck)">
                <div>
                    <div>
                        {{deck.Name}} created by {{deck.CreatedBy}}
                    </div>
                    <div ng-show="deckHover" style="padding:10px">
                        {{deck.Description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: inline-block; width: 300px;">
        <side-bar-deck>
    </div>
    
</div>