<body>
    <div class="db">


        <div ng-hide="classChosen" class="header">
                CHOOSE YOUR CLASS
        </div>
                <div ng-hide="classChosen" class="chooseClassContainer">
                    <div ng-repeat="class in allCards.Classes">
                        <div class="char" ng-click="chooseClass(class.playerClass)">
                            {{class.playerClass}}</br>
                            <img class="charImg" ng-src="{{class.img}}">
                        </div>
                    </div>
                </div>
        <div class="outerContainer">
            <div class="pickCardsForDeck">
                <div ng-show="classChosen">
                    <div class="aboveCards">
                        <button ng-click="returnToCharSelect()">BACK</button></br>
                          <img class="charImg" src="{{classImg}}">
                          <form class="deckinfoToSave">
                                <div class="deckName">Deck Name: <input placeholder="Name your deck!" ng-model="myDeckName" ng-required="true"></input></div></br>
                                <div class="deckDescription">Description: <textarea class="description" placeholder="A brief description of what this deck is about and how to use it" ng-model="myDeckDescription" ng-required="true"></textarea></div></br>
                                <button ng-click="addDeck()">SAVE</button>
                          </form>
                    </div>
                      <md-content class="md-padding">
                        <md-tabs md-dynamic-height md-border-bottom>
                          <md-tab label="{{charClass}} Cards">
                            <md-content class="md-padding">
                                <div class="cardContainer"  ng-repeat="classCard in allCards[charClass]">
                                    <div class="char" ng-click="addCard(charClass, allCards[charClass].indexOf(classCard), classCard)">
                                        <img class="charImg" ng-src="{{classCard.img}}">
                                    </div>
                                </div>
                            </md-content>
                          </md-tab>
                          <md-tab label="Minions">
                            <md-content class="md-padding">
                                <div class="cardContainer"  ng-repeat="eachMinion in allCards.Minion">
                                    <div class="char" ng-click="addCard('Minion', allCards.Minion.indexOf(eachMinion), eachMinion)">
                                        <img class="charImg" ng-src="{{eachMinion.img}}">
                                    </div>
                                </div>
                            </md-content>
                          </md-tab>
                        </md-tabs>
                      </md-content>
                </div>
            </div>
            <div class="sidebarDeck" ng-show="classChosen">
                <div class="deckContainer">
                    <div ng-mouseenter="imageHover = true" ng-mouseleave="imageHover=false" style="cursor: {{card.img}}" class='sidebarCard' ng-click="removeCard(chosenCards.indexOf(card))" ng-repeat="card in chosenCards | orderBy : ['cost', 'name'] track by $index">
                        <img class="hoverCard" ng-show="imageHover" src={{card.img}}>
                        {{card.cost}} -- {{card.name}}
                    </div>
                </div>
                <div class="cardTotalCounter">
                    Total Cards: {{deckCardCount}}/30
                </div>
            </div>
        </div>
           
            
    </div>
</body>